body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}



h2 {
    text-align: center;
    padding-top: 20px;
    font-size: 2em;
    color: #d1e3f5;
}

h3 {
    margin-top: 10px;
    font-size: 1.5em;
    font-weight: bold;
    color: #d1e3f5;
}
#quieres-saber-mas {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    background-size: contain;
    background-color: #fd0000;
    opacity:calc(90%);
    box-shadow: #333;

}
#pincha-aqui {

    color: aqua;
}
#pincha-aqui:hover {
    text-decoration: wavy;
    color: rgb(111, 0, 255);
}
#ferrari {

    height: auto;
    margin-right: 20px;
    margin-left: auto;
    width: 23%;
    position: bottom, right;
}
p {
    margin-bottom: 15px;
    font-size: 1.1em;
    text-align: justify;
}
.container {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    color: antiquewhite;
    text-size-adjust:inherit;
}

.box {
    width: 80%;
    background-color: #2C3E50;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
}
#seccion-ford {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#imagen-henryford  {
    height: auto;
    margin-right: 20px;
    width: 60%;
}

#parrafo-imagen  {
    width: 35%;
    text-align: justify;
    font-size: 1.1em;
}
#debajo-imagen {
    margin-top: 30px;
}
#Lista-coches {
    list-style: none;
    padding-left: 0;
}

#Lista-coches li {
    margin-bottom: 20px;
    font-size: 1.1em;
}

#Lista-coches li a {
    color: #2C3E50;
    font-weight: bold;
    text-decoration: none;
}

#Lista-coches li a:hover {
    text-decoration: underline;
}

#Coches-lista {
    color: #2980B9;
    text-decoration: none;
}

#Coches-lista:hover {
    text-decoration: underline;
}
table {
 margin: 20px auto;
    width: 80%;
    border-collapse: collapse;
}
table, th, td {
    border: 2px solid #333;
}

th, td {
    padding: 10px;

    text-align: left;
}




td {
    background-color: #fef6f6;
}
th {
    background-color: #2C3E50;
    color: #fd0000;}
th a{
    color: #ffffff;
}
th a:hover{
    background-color: #ffffff;
    color:  #2C3E50;
}

ul {
    margin: 20px;
    padding-left: 20px;
    font-weight: bold;
}

li{
  margin-bottom: 20px;
    font-weight: bold;
}
ul,li, h3 {
    font-weight: bold;
}


